# Ignore everything
*

# Excluding these files...
!/.gitignore

!/.zshrc

# Config/aliases/exports, etc
!/.config/

!/.config/zsh/
!/.config/zsh/*

!/.config/bash/
!/.config/bash/*

!/.config/common/
!/.config/common/*

# Usefule scripts
!bin/
!bin/apk-puller.sh

